{:paths []
 :deps {}

 :aliases
 {:cljs
  {:extra-deps {com.lambdaisland/glogi {:mvn/version "1.1.144"}}
   :extra-paths ["src/cljs"]}
  :clj
  {:extra-paths ["src/clj" "resources"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                instaparse/instaparse {:mvn/version "1.4.11"}
                org.clojure/tools.logging {:mvn/version "1.2.4"}
                javax.inject/javax.inject {:mvn/version "1"}
                org.clojure/core.cache {:mvn/version "1.0.225"}
                potemkin/potemkin {:mvn/version "0.4.5"}}}}}
