{:deps true
 :nrepl {:port 9000}

 :builds {:mylib {:target :browser
                  :compile-options {:output-feature-set :es6}
                  :asset-path "/js"
                  :output-dir "public/js"
                  :modules {:main {}}
                  :devtools {:http-root "public"
                             :http-port 4200}}}}
